.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rbuildignore
.DS_Store
references.bib

NESTscore.Rproj
README.log
README.tex
README.Rmd
demo.R

dev/
README_files/

^NESTscore\.Rproj$
^\.Rproj\.user$
^README\.Rmd$
